
.formulario {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}

.titulo {
  color: white;
  font-weight: 400;
  font-size: 3rem;
  text-align: center;
}

.color-rojo {
  color: red;
  font-weight: bold;
  text-shadow: 0px 0px 10px rgb(163, 163, 163);
}

.color-negro {
  color: black;
  font-weight: bold;
  text-shadow: 0px 0px 10px rgb(163, 163, 163);
}

.input-url {
  width: 70%;
  padding: 15px 25px;
  font-size: 1.2rem;
  outline: none;
  border: 1px solid gray;
  border-radius: 7px;
  color: rgb(84, 84, 84);
}

.btn-convertir {
  width: 250px;
  padding: 18px;
  font-size: 1.5rem;
  transition: scale 0.3s ease-in-out;
  cursor: pointer;
  border: none;
  box-shadow: 0px 0px 10px rgb(163, 163, 163);
  border-radius: 10px;
  background-color: rgb(138, 18, 18);
  color: white;
  font-weight: 400;
  outline: none;
}

.btn-convertir:hover {
  scale: 1.1;
}

